*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 310px;
    height: 110px;
    margin: 200px auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .container:hover .box:nth-child(1){
    animation: animate30 4000ms infinite 100ms;
   
   
  }
  .container:hover .box:nth-child(2){
    animation: animate115 4000ms infinite 100ms;
  } 
  .container:hover .box:nth-child(3){
    animation: animate45 4000ms infinite 100ms;
  } 
  .box {
    
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    transition: 0.4s;
    align-items: center;
    justify-content: center;
    background-color: orange;
/*     box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
  }
  
  .box::before {
    display: inline-block;
    font-size: 26px;
  }
  
  .box:nth-child(1) {
    /*   transform: rotate(30deg); */
    transition: 0.2s;
    position: relative;
    border-radius:10px 0px 0px 10px;
    
  }
  
  .box:nth-child(1)::before {
    content: "Н А";
    position: absolute;
    right: 0;
    
  }
  
  .box:nth-child(2) {
    /*   transform: rotate(115deg); */

  
   
  }
  
  .box:nth-child(2)::before {
    content: "Т И С К";
    position: absolute;
    left: 5%;
  }
  
  .box:nth-child(3) {
    /*   transform: rotate(-45deg); */
    border-radius:0px 10px 10px 0px;

  }
  
  .box:nth-child(3)::before {
    content: "А Й";
      
    position: absolute;
    left: 0;
  }
  
  @keyframes animate30 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
        color: rgb(255, 255, 255);
        background-color: rgb(56, 94, 234);
      transform: rotate(30deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes animate115 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(115deg);
      color: rgb(255, 255, 255);
      background-color: rgb(253, 40, 232);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes animate45 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
        color: rgb(255, 255, 255);
        background-color: rgb(154, 255, 96);
      transform: rotate(-45deg);
    }
}