*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
 background: url(https://look.com.ua/pic/201209/1920x1080/look.com.ua-11170.jpg);
 background-size: cover;
 background-attachment: fixed;
}

.form {
  box-shadow: -4px 0px 20px #000;
  backdrop-filter: blur(15px);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 25px;
  text-transform: uppercase;
  height: 500px;
  margin: 100px auto;
  transition: 0.8s;
}
.form:hover{
  box-shadow: 4px 0px 20px #000;
}
.text {
  background-color: transparent;
  padding: 10px;
  width: 350px;
  border-bottom: 1px solid #444444;
  transition: 0.6s;
  border-radius: 10px;
}

.text:focus{
  box-shadow: 0 0 5px #000;
  background-color: #60d9db5a;
 
}
.email {
  background-color: transparent;
  padding: 10px;
  width: 350px;
  transition: 0.6s;
  border-radius: 10px;
  border-bottom: 1px solid #444444;
}
.email:focus{
 
  box-shadow: 0 0 5px #000;
  background-color: #60d9db5a;
}
.password {
  background-color: transparent;
  padding: 10px;
  transition: 0.6s;
  width: 350px;
  border-radius: 10px;
  border-bottom: 1px solid #444444;
}
.password:focus{

  box-shadow: 0 0 5px #000;
  background-color: #60d9db5a;
}
.neon{
	position: relative;
	display: inline-block;
	padding: 17px 22px;
	margin: 20px 20px;
  background-color: #444444;
	color: #03e9f4;
	font-size: 22px;
  transform: translateY(-20px);
  cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	z-index: 2;
	letter-spacing: 2px;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
	animation:  neon-2 1.9s infinite alternate-reverse ;
	transition: all 0.4s ease;
    text-shadow: none;
    border:none;
}
.neon:hover{
	background: #03e9f4;
	color: #1b0000;
	box-shadow: 0 0 5px #03e9f4,
	0 0 10px #03e9f4,
	0 0 25px #03e9f4,
	0 0 100px #03e9f4;
	transition: all 0.4s ease;
    border:none;
}
.neon::before {
    display: none;
}
.neon span{
	position: absolute;
	display: block;
}
.neon span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4 );
	animation: animate1 3s linear infinite ;
}
@keyframes animate1{
	0%{
		left: -100%;
	}
	50%,100%{
		left: 100%;
	}
}
.neon span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4 );
	animation: animate2 3s linear infinite ;
	animation-delay: 0.7s;
}
@keyframes animate2{
	0%{
		top: -100%;
	}
	50%,100%{
		top: 100%;
	}
}
.neon span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4 );
	animation: animate3 3s linear infinite ;
	animation-delay: 1.5s;
}
@keyframes animate3{
	0%{
		right: -100%;
	}
	50%,100%{
		right: 100%;
	}
}
.neon span:nth-child(4) {
	bottom: -100%;
	left: 0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4 );
	animation: animate4 3s linear infinite ;
	animation-delay: 2.2s;
}
@keyframes animate4{
	0%{
		bottom: -100%;
	}
	50%,100%{
		bottom: 100%;
	}
}


